params{
  base_dir = "/data/ficklin_class/AFS505/course_material/data/";
  sample_glob = "${params.base_dir}/*_{1,2}.fasta"
  db = "/data/ficklin_class/AFS505/course_material/data/swissprot"
  query = "/data/ficklin_class/AFS505/course_material/data/all.pep"
  chunkSize = 5000
}

profiles {
  slurm {
    process {
      executor = "slurm"
      queue = "ficklin_class"
      clusterOptions = "--account=ficklin_class"

      withName:blast_job {
        cpus = 5
	module = "blast/2.7.1"
      }
    }
  }
}
